<div class="background">
        <div class="container" style="top: 25%;" >
            <div class="row">
                <div class="col-sm-6 offset-3 ">
                    <h1 style="color:white; font-size: 75px;" class= "text-center">SYMBIOSIS</h1>
                    <h2 style="color:white;" class= "text-center">Internship Management System</h2>
                    <div class="text-center">
                        <IMG SRC='../../../assets/SIT.png' class="p-2" WIDTH=500 HEIGHT=90>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-light btn-block" (click)='loginClicked()'>Login</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-light btn-block" routerLink='/signUp'>Register</button>
                    </div>    
                </div>
            </div>
        </div>
    </div>